// variable polices

$PoliceColor: white;
$PoliceSize: 18px;
$PoliceFamily: "Montserrat";


// varibale bouton 

$BoutonPoliceSize: 30px;


* {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 18px;
    font-family: "Montserrat";
    box-sizing: border-box;
    text-decoration: none;
  }

  body{
    background-image: url("../../img/BG3.png");
    background-size: cover;
  }


// composant section 

.section1{
    height: auto;
    width: 100vw;

    h1{
        font-size: 70px;
        font-weight: 500;
        text-align: center;
        margin-top: 10vh;
    }

    .div1{
        width: 100%;
        height: auto;
        margin-top: 10vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .image{
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            
            img{
                width: 80%;
                height: auto;
            }
        }

        .description{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px 15vw 0 15vw;
            
            h2{
                font-size: 40px;
                letter-spacing: 2px;
                font-weight: 500;
                margin-bottom: 5vh;
            }

            p{
                text-align: justify;
                margin-bottom: 5vh;
            }


        }
    }
}

// composant nav et menu

nav{
    height: 130px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 630px;
    margin-right: 4vw;
    color: $PoliceColor;
    font-size: $PoliceSize;
}

.logo{
    position: absolute;
    left: 40px;
    top: 20px;
}

// composant bouton 

button{
    height: 70px;
    width: 250px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 40px;
    font-size: $BoutonPoliceSize;
}

button:hover{
    background-color: #D5AE53;
    color:white;
}

// footer


.section3{
    height: 100vh;
    width: 100vw;
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .div3{
        height: auto;
        width: 60%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        
        h5{
            text-align: center;
            font-size: 32px;
            font-weight: 300;
            margin: 5vh 0 5vh 0;
        }

        .reseaux{
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        
        form{
            display: flex;
            flex-direction: row;
            text-align: center;
            justify-content: space-between;
            width: 760px;
            margin-bottom: 5vh;
            input{
                background-color: transparent;
                height: 65px;
                font-size: 26px;
                border: solid 2px white;
            }

            #user_email{
                width: 500px;
                border-radius: 35px 0 0 35px;
                padding: 0 0 0 40px;
            }

            #submit{
                width: 250px;
                border-radius: 0 35px 35px 0;
            }
        }

        .contact{
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
            h5{
                font-size: 23px;
            }
        }

    }
}

.question{
    width: 100vw;
    height: auto;
    padding: 0 10vw 0 10vw;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .titre-question{
        text-align: center;
        margin-bottom: 10vh;
        font-size: 40px;
    }

    .para-question{
        text-align: justify;
        margin-bottom: 10vh;
    }
}

.fiche{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10vh;
}

.personne{
    height: 70vh;
    width: 20vw;
    border: 3px solid #D5AE53;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 10vh;
    padding-bottom: 2vh;
}

.margin-top{
    margin-top: 20vh;
}

.un{
    background-image: url();
    background-size: cover
}

.mail{
    text-align: center;
    font-size: 25px;
    margin-top: 10vh;
}

.question{
    text-align: center;
    font-size: 40px;
    margin-top: 20vh;
}

.prenom{
    text-align: center;
    font-size: 30px;
    font-weight: 200;
}

.profession{
    text-align: center;
    font-weight: 200;
}















// responsive 






@media (max-width: 750px){

    *{
        margin: 0;
        padding: 0;
    }

    // disparition

    .menu, .logo-welcome, .nom{
        display: none;
    }
    .section1, .section2{
        background-image: none;
    }

    //général

    body{
        background-image: url("../../img/BG-mobile.png");
        background-size: cover;
        width: 100vw;
        background-repeat: no-repeat;
    }

    // section 1

    .logo{
        width: 20vw;
        height: auto;
        position: absolute;
        top: 30px;
        left: 30px;
    }


    // reseau

   .section3{
        margin: 0;
        .div3{
            width: 90vw;
            h5{
                font-size: 20px;
            }

            .reseaux{
                width: 100%;
                img{
                    width: 20%;
                }
            }
            .contact{
                h5{
                    font-size: 20px;
                }
            }
        }
    }



    form{
        width: 90vw !important;
        input{
            background-color: transparent;
            height: 40px !important;
            font-size: 15px !important;
            border: solid 2px white;
        }

        #user_email{
            padding: 0 0 0 10px !important;
            width: 74% !important;
        }
    }

    .section1{
        flex-direction: column;
    }

    .div1{
        flex-direction: column-reverse !important;
        margin: 0;
        padding: 0;
    }

    .description{
        width: 100% !important;
        padding: 0 10vw 0 10vw !important;
        align-items: center;
        justify-content: center;
    }

    h1{
        font-size: 30px !important;
        margin: 0 !important;
    }

    h2{
        text-align: center;
        font-size: 24px !important;
        margin-bottom: 5vh;
    }


    button{
        margin-top: 10vh;
    }

    .image{
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .map{
        width: 90vw !important;
        margin: 10vh 0 10vh 0;
    }

    .fiche{
        flex-direction: column;
        align-items: center;
    }

    .personne{
        width: 90vw;
        margin: 5vh !important; 
    }

    .mail{
        font-size: 20px;
    }

    .question{
        font-size: 18px !important;
    }
}