// variable polices

$PoliceColor: white;
$PoliceSize: 18px;
$PoliceFamily: "Montserrat";


// varibale bouton 

$BoutonPoliceSize: 30px;


* {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 18px;
    font-family: "Montserrat";
    box-sizing: border-box;
    text-decoration: none;
  }

  body{
    background-image: url("../../../img/BG3.png");
    background-size: cover;
  }


// composant section 

.section1{
    height: auto;
    width: 100vw;

    h1{
        font-size: 70px;
        font-weight: 500;
        text-align: center;
        margin-top: 10vh;
    }
}

// composant nav et menu

nav{
    height: 130px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 630px;
    margin-right: 4vw;
    color: $PoliceColor;
    font-size: $PoliceSize;
}

.logo{
    position: absolute;
    left: 40px;
    top: 20px;
}

// composant bouton 

button{
    height: 70px;
    width: 250px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 40px;
    font-size: $BoutonPoliceSize;
}

button:hover{
    background-color: #D5AE53;
    color:white;
}

// footer


.section3{
    height: 100vh;
    width: 100vw;
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    div{
        height: auto;
        width: 60%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        
        h5{
            text-align: center;
            font-size: 32px;
            font-weight: 300;
            margin: 5vh 0 5vh 0;
        }

        .reseaux{
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        
        form{
            display: flex;
            flex-direction: row;
            text-align: center;
            justify-content: space-between;
            width: 760px;
            margin-bottom: 5vh;
            input{
                background-color: transparent;
                height: 65px;
                font-size: 26px;
                border: solid 2px white;
            }

            #user_email{
                width: 500px;
                border-radius: 35px 0 0 35px;
                padding: 0 0 0 40px;
            }

            #submit{
                width: 250px;
                border-radius: 0 35px 35px 0;
            }
        }

        .contact{
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
            h5{
                font-size: 23px;
            }
        }

    }
}







// début de la page galerie


.section2{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 10vh;

    div{
        height: 100%;
        width: 70%;
        display: flex;
        justify-content: space-between;

        .left{
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .right{
            height: 100%;
            width: 50%;
            flex-direction: column;
        }

        img{
            width: 100%;
            // margin-bottom: 20px;
        }
    }
}

.image5{
    height: 200px;
    width: 50%;
    background-color: yellow;
    background-image: url("./img/photo5.png");
}

.image6{
    height: 200px;
    width: 50%;
    background-color: greenyellow;
    background-image: url("./img/photo5.png")
}






